* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    --interval-width: 150px;
    background-color: #f5f5f5;
    background-image: url("../img/line.svg");
    background-size: var(--interval-width) auto;
    background-position: calc(50% - var(--interval-width)/2) -1px;
}
.relative {
    position: relative;
}
.drop-shadow {
    filter: drop-shadow(12px 20px 10px rgba(0, 0, 0, 0.3));
}
.header {
    position: relative;
    color: white;
}
.title {
    font-size: 3em;
    text-transform: uppercase;
}
.justify-text {
    text-align: justify;
}
.text-shadow {
    text-transform: uppercase;
    font-family: verdana;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}
.sticky-header {
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 80%;
    margin: 0 auto;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
}
.sticky-header[data-scroll="in"] {
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease;
}

.sticky-header[data-scroll="out"] {
    opacity: 1;
    visibility: visible;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #eb3b5a;
    box-shadow:
        0 3.4px 2.7px rgba(0, 0, 0, 0.022),
        0 8.7px 6.9px rgba(0, 0, 0, 0.031),
        0 17.7px 14.2px rgba(0, 0, 0, 0.039),
        0 36.5px 29.2px rgba(0, 0, 0, 0.048),
        0 100px 80px rgba(0, 0, 0, 0.07)
        ;

    transition: all 1s ease;
}
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 20px;
    animation: go-on-top 6500ms linear forwards;
}
@keyframes go-on-top {
    0%, 91% {
        height: 100vh;
    }
    92% {
        height: 90vh;
    }
    93% {
        height: 80vh;
    }
    94% {
        height: 70vh;
    }
    95% {
        height: 60vh;
    }
    96% {
        height: 50vh;
    }
    97% {
        height: 40vh;
    }
    98% {
        height: 30vh;
    }
    99% {
        height: 20vh;
    }
    100% {
        top: 0;
        background-color: transparent;
        height: 10vh;
    }
}
.hidden {
    position: absolute;
    opacity: 0;
    letter-spacing: 10px;
    font-size: 2em;
    font-weight: 600;
    animation: main-name 5400ms linear forwards;
}
@keyframes main-name {
    0%, 90%{
        opacity: 0;
    }
    91% {
        opacity: 0.1;
    }
    92% {
        opacity: 0.2;
    }
    93% {
        opacity: 0.3;
    }
    94% {
        opacity: 0.4;
    }
    95% {
        opacity: 0.5;
    }
    96% {
        opacity: 0.6;
    }
    97% {
        opacity: 0.7;
    }
    98% {
        opacity: 0.8;
    }
    99% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}
.words {
    letter-spacing: 6px;
    font-size: 2em;
}
.words span {
    text-transform: uppercase;
    overflow: hidden;
    animation: rollwords 2s normal forwards ease-in-out;
    opacity: 0;
}
@keyframes rollwords {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }
    15% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
    }
}
.words span:nth-child(2) {
    color: blue;
    animation-delay: 1s;
}
.words span:nth-child(3) {
    animation-delay: 2s;
}
.words span:nth-child(4) {
    color: blue;
    animation-delay: 3s;
}
.section-skills {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}
.leftSection p {
    width: 70%;
}
.skillsTitle {
    margin: 60px 0 20px 0;
}
.container-skills {
    height: 100vh; /*TODO: MODIFIER UNE FOIS LE SITE FINI*/
    margin: 0 auto;
    min-width: 50%;
}
.skillsBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
}
.box {
    background-color: white;
    border-radius: 1em;
    padding: 4em 3em;
    margin: 0 20px 0 20px;
    box-shadow:
    -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70,70,70,0.12);
    height: 10em;
}
.percent {
    position: relative;
}

svg {
    height: 110px;
    width: 110px;
}
svg circle {
    fill: none;
    stroke: #eb3b5a;
    stroke-width: 10px;
    transform: translate(5px, 5px);
    stroke-linecap: round;
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
}
svg circle:nth-child(1) {
    stroke: rgb(223, 223, 223);
    stroke-dashoffset: 0;
}

.skillsBox[data-scroll="in"] .javasvg circle:nth-child(2)  {
    animation: circle-java 2s forwards;
}
.skillsBox[data-scroll="in"] .htmlsvg circle:nth-child(2)  {
    animation: circle-html 2s forwards;
}
.skillsBox[data-scroll="in"] .csssvg circle:nth-child(2)  {
    animation: circle-css 2s forwards;
}
@keyframes circle-java {
    to {
        stroke-dashoffset: 63;
    }
}

@keyframes circle-html {
    to {
        stroke-dashoffset: 94;
    }
}
@keyframes circle-css {
    to {
        stroke-dashoffset: 78;
    }
}
.box span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 400;
    color: #eb3b5a;
    font-size: 1.5em;
}

.box h1 {
    text-align: center;
    color: #eb3b5a;
    margin-top: 20px;
}